.reference {
    font-family: var(--mantine-font-family-monospace);
}

.actions {
    padding-top: var(--mantine-spacing-md);
}

.form {
    padding-top: var(--mantine-spacing-lg);
}

.notes {
    white-space: pre-line;
}

.container {
  padding: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}

.attendeeInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
