.inputWrapper {
  margin-bottom: 20px;
}

.error {
  padding: 5px;
}

.toolbar {
  @media (max-width: 48em) {
    :global(.mantine-RichTextEditor-control) {
      min-width: 44px;
      min-height: 44px;
    }
  }
}
