.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}


.control {
  background-color: var(--hi-text);
  color: var(--hi-color-white);

  &:disabled {
    border-color: var(--hi-border);
    background-color: transparent;
    color: var(--hi-text-muted);
  }
}

.input {
  padding-right: 10px !important;
  padding-left: 10px !important;
  height: 20px !important;
  flex: 1 !important;
  text-align: center !important;
}
