.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

:global {
  .mantine-Combobox-option[data-active] {
    background-color: color-mix(in srgb, var(--hi-primary) 8%, white);
  }

  .mantine-Combobox-option[data-selected] {
    background-color: color-mix(in srgb, var(--hi-primary) 8%, white);

    &[data-active] {
      background-color: color-mix(in srgb, var(--hi-primary) 12%, white);
    }
  }
}
